body{
    background-color: #212121;
    color: white;
}


.player{
    display:flex;
    margin-right: px;
    justify-content:center;
    width: 65%;
    height: auto;
    float: right;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 20px;
}

.dual{
    display: flex;
}
