.body {
  font-family: "Offside";
  margin-top: 100px;
  margin-left: 5%;
}
.body:hover {
  filter: drop-shadow(0px 10px 10px rgba(49, 48, 49, 0.6));
}
.box {
  width: 80%;
  height: 400px;
  margin-left: 3%;
  margin-top: -400px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 0px 18px 23px rgba(240, 244, 248, 0.01);
  backdrop-filter: blur(50px);
  border: 0.5px solid white;
  border-radius: 50px;
}
.circle {
  margin-top: 0px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: linear-gradient(143.87deg, #f7971d 11.39%, #f7ee1d 96.21%);
  filter: blur(10px);
}
.rectangle {
  width: 70%;
  height: 250px;
  background: linear-gradient(
    174.85deg,
    #f7971d -13.05%,
    rgba(247, 151, 29, 0) 95.87%
  );
  margin-left: 10%;
  margin-top: 50px;
  filter: blur(20px);
  border-radius: 20px;
  transform: rotate(-9.13deg);
}
.btn {
  position: relative;
  z-index: 100;
  width: 150px;
  height: 65px;
  border: none;
  background-color: #f7971d;
  color: white;
  font-family: "Offside";
  font-size: 24px;
  margin-left: 65%;
  margin-top: -40px;
  border-radius: 25px 10px 25px 10px;
  transform: rotate(3deg);
}
.btn:hover {
  animation: wave 0.5s linear infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.link {
  color: white;
}
.img {
  height: 250px;
  margin: 25px;
  border-radius: 20px;
  opacity: 0.9;
}
.img:hover {
  opacity: 1.1;
}
.dual {
  display: flex;
}
.title {
  font-size: 30px;
  margin-bottom: 15px;
}
.infor {
  margin-top: 5px;
  font-size: 18px;
  width: 100%;
}

.infall {
  display: flex;
  margin-bottom: 3px;
}
.icons {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.summary {
  font-size: 16px;
  width: 70%;
  margin-left: 35px;
  margin-top: -30px;
}
.sumal {
  margin-top: -10px;
  margin-left: 25px;
}
